<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      throwConfigExceptions="true"
	  internalLogFile="../log/Merino/internal-nlog.txt">

	<!-- ログの出力レイアウトを定義 (https://nlog-project.org/config/?tab=layout-renderers) -->
	<variable name="layoutDefine"
			  value="${longdate} [${event-properties:item=EventId_Id:whenEmpty=0}][${level:padding=-5}] ${message} ${exception:format=tostring} (${callsite:includeNamespace=false:fileName=true:includeSourcePath=false})" />
	<variable name="outPutPath" value="../log/Merino" />

	<!-- 書き込むターゲット -->
	<targets>
		<!-- Visual Studio への出力 -->
		<target xsi:type="Trace" name="TraceOutput" rawWrite="true" layout="${layoutDefine}" />

		<!-- ファイルへの出力 -->
		<target xsi:type="File" name="FileOutput" fileName="${outPutPath}/Log-${shortdate}.log" layout="${layoutDefine}"
				archiveNumbering="Date"
				archiveEvery="Day"
				archiveFileName="${outPutPath}/Archive/Log_{#}.log"
				archiveDateFormat="yyyy-MM-dd"
				maxArchiveFiles="7" />

		<!-- Docker / Visual Studio の起動検出を改善するためにライフタイムメッセージをホストするためのコンソールターゲット  -->
		<target xsi:type="Console" name="LifetimeConsole" layout="${level:truncate=4}\: ${logger}[0]${newline}      ${message}${exception:format=tostring}" />
	</targets>

	<!-- ロガー名からターゲットにマップするルール -->
	<rules>
		<!-- すべてのログを出力 -->
		<logger name="*" writeTo="TraceOutput" />

		<!-- ホスティングライフタイムメッセージをコンソールターゲットに出力 -->
		<logger name="Microsoft.Hosting.Lifetime" minlevel="Info" writeTo="LifetimeConsole" final="true" />

		<!-- 以下のログは出力しない。 -->
		<logger name="Microsoft.*" maxlevel="Info" final="true" />
		<logger name="System.Net.Http.*" maxlevel="Info" final="true" />

		<!-- 上記で除外したもの以外をファイルに出力 -->
		<logger name="*" writeTo="FileOutput" />
	</rules>
</nlog>